doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    title Nested Fluid Grid Demo
    link(href='css/main.css', rel='stylesheet', media='screen,projection')
    script.
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
  body
    main
      .wrapper
        h1 #[.text Nested Fluid Grid Demo]
      include resp-demo.pug
      include std-demo.pug


