doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    title Nested Fluid Grid Demo
    link(href='css/main.css', rel='stylesheet', media='screen,projection')
    script.
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
  body
    main
      .wrapper
      h1
        .text Nested Fluid Grid Demo
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
      .row
        .span2 2
        .span2 2
        .span2 2
        .span2 2
        .span2 2
        .span2 2
      .row
        .span3 3
        .span3 3
        .span3 3
        .span3 3
      .row
        .span4 4
        .span4 4
        .span4 4
      .row
        .span5 5
        .span7 7
      .row
        .span6 6
        .span6 6
      .row
        .span7 7
        .span5 5
      .row
        .span8 8
        .span4 4
      .row
        .span9 9
        .span3 3
      .row
        .span10 10
        .span2 2
      .row
        .span11 11
        .span1 1
      .row
        .span12 12
      .row
        .span2
          | 2
          .row
            .span1 1
            .span1 1
        .span2
          | 2
          .row
            .span1 1
            .span1 1
        .span2
          | 2
          .row
            .span1 1
            .span1 1
        .span2
          | 2
          .row
            .span1 1
            .span1 1
        .span2
          | 2
          .row
            .span1 1
            .span1 1
        .span2
          | 2
          .row
            .span1 1
            .span1 1
      .row
        .span3
          | 3
          .row
            .span2 2
            .span1 1
        .span3
          | 3
          .row
            .span1 1
            .span1 1
            .span1 1
        .span3
          | 3
          .row
            .span1 1
            .span1 1
            .span1 1
        .span3
          | 3
          .row
            .span1 1
            .span1 1
            .span1 1
      .row
        .span4
          | 4
          .row
            .span3 3
            .span1 1
        .span4
          | 4
          .row
            .span2 2
            .span2 2
        .span4
          | 4
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
      .row
        .span5
          | 5
          .row
            .span4 4
            .span1 1
        .span1 1
        .span5
          | 5
          .row
            .span3 3
            .span2 2
        .span1 1
      .row
        .span5
          | 5
          .row
            .span2 2
            .span2 2
            .span1 1
        .span1 1
        .span5
          | 5
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span1 1
      .row
        .span6
          | 6
          .row
            .span5 5
            .span1 1
        .span6
          | 6
          .row
            .span4 4
            .span2 2
      .row
        .span6
          | 6
          .row
            .span3 3
            .span3 3
        .span6
          | 6
          .row
            .span2 2
            .span2 2
            .span2 2
      .row
        .span7
          | 7
          .row
            .span6 6
            .span1 1
        .span5 5
      .row
        .span7
          | 7
          .row
            .span5 5
            .span2 2
        .span5 5
      .row
        .span7
          | 7
          .row
            .span4 4
            .span3 3
        .span5 5
      .row
        .span7
          | 7
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span5 5
      .row
        .span8
          | 8
          .row
            .span7 7
            .span1 1
        .span4 4
      .row
        .span8
          | 8
          .row
            .span6 6
            .span2 2
        .span4 4
      .row
        .span8
          | 8
          .row
            .span5 5
            .span3 3
        .span4 4
      .row
        .span8
          | 8
          .row
            .span4 4
            .span4 4
        .span4 4
      .row
        .span8
          | 8
          .row
            .span3 3
            .span3 3
            .span2 2
        .span4 4
      .row
        .span8
          | 8
          .row
            .span2 2
            .span2 2
            .span2 2
            .span2 2
        .span4 4
      .row
        .span8
          | 8
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span4 4
      .row
        .span9
          | 9
          .row
            .span8 8
            .span1 1
        .span3 3
      .row
        .span9
          | 9
          .row
            .span7 7
            .span2 2
        .span3 3
      .row
        .span9
          | 9
          .row
            .span6 6
            .span3 3
        .span3 3
      .row
        .span9
          | 9
          .row
            .span5 5
            .span4 4
        .span3 3
      .row
        .span9
          | 9
          .row
            .span3 3
            .span3 3
            .span3 3
        .span3 3
      .row
        .span9
          | 9
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span3 3
      .row
        .span10
          | 10
          .row
            .span9 9
            .span1 1
        .span2 2
      .row
        .span10
          | 10
          .row
            .span8 8
            .span2 2
        .span2 2
      .row
        .span10
          | 10
          .row
            .span7 7
            .span3 3
        .span2 2
      .row
        .span10
          | 10
          .row
            .span6 6
            .span4 4
        .span2 2
      .row
        .span10
          | 10
          .row
            .span5 5
            .span5 5
        .span2 2
      .row
        .span10
          | 10
          .row
            .span5 5
              .row
                .span2 2
                .span3 3
            .span5 5
        .span2 2
      .row
        .span10
          | 10
          .row
            .span2 2
            .span2 2
            .span2 2
            .span2 2
            .span2 2
        .span2 2
      .row
        .span10
          | 10
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span2 2
      .row
        .span11
          | 11
          .row
            .span10 10
            .span1 1
        .span1 1
      .row
        .span11
          | 11
          .row
            .span9 9
            .span2 2
        .span1 1
      .row
        .span11
          | 11
          .row
            .span8 8
            .span3 3
        .span1 1
      .row
        .span11
          | 11
          .row
            .span7 7
            .span4 4
        .span1 1
      .row
        .span11
          | 11
          .row
            .span6 6
            .span5 5
        .span1 1
      .row
        .span11
          | 11
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
        .span1 1
      .row
        .span12
          | 12
          .row
            .span11 11
            .span1 1
      .row
        .span12
          | 12
          .row
            .span10 10
            .span2 2
      .row
        .span12
          | 12
          .row
            .span9 9
            .span3 3
      .row
        .span12
          | 12
          .row
            .span8 8
            .span4 4
      .row
        .span12
          | 12
          .row
            .span7 7
            .span5 5
      .row
        .span12
          | 12
          .row
            .span6 6
            .span6 6
      .row
        .span12
          | 12
          .row
            .span4 4
            .span4 4
            .span4 4
      .row
        .span12
          | 12
          .row
            .span3 3
            .span3 3
            .span3 3
            .span3 3
      .row
        .span12
          | 12
          .row
            .span2 2
            .span2 2
            .span2 2
            .span2 2
            .span2 2
            .span2 2
      .row
        .span12
          | 12
          .row
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
    footer
      .footer-first.wrapper.diptych
      .row
        .diptych__item.span12(
          data-span-babybear=7
          data-span-mamabear=6
        )
          .block.footer-contact.row(
            itemscope
            itemtype="http://schema.org/Organization"
          )
            .block__title.span12(
              data-span-babybear=4
              data-span-mamabear=3
            )
              h2.title(itemprop="name") ACME Corp.
            .block__content.span12(
              data-span-babybear=3
              data-span-mamabear=3
            )
              address(
                itemscope
                itemprop="address"
                itemtype="http://schema.org/PostalAddress"
              )
                p.dept #[span(itemprop="streetAddress") Technology Center]
                p.street #[span(itemprop="streetAddress") 123 Main Street]
                p.locality #[span(itemprop="addressLocality") Anytown], #[span(itemprop="addressRegion") XY] #[span(itemprop="postalCode") 12345-6789]
        .diptych__item.stacked.space-between.span12(
          data-span-babybear=5
          data-span-mamabear=6
        )
          ul.some-dumb-list
            each val, index in {1:'foo',2:'bar',3:'baz'}
              li= index + ': ' + val
          .block.footer-socials
            ul
              li #[b Thing 1]
              li #[b Thing 2]
