.wrapper
  h2 #[.text Generic Nested Fluid Grid Demo]
  .row
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
  .row
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
    .span2 2
  .row
    .span3 3
    .span3 3
    .span3 3
    .span3 3
  .row
    .span4 4
    .span4 4
    .span4 4
  .row
    .span5 5
    .span7 7
  .row
    .span6 6
    .span6 6
  .row
    .span7 7
    .span5 5
  .row
    .span8 8
    .span4 4
  .row
    .span9 9
    .span3 3
  .row
    .span10 10
    .span2 2
  .row
    .span11 11
    .span1 1
  .row
    .span12 12
  .row
    .span2
      | 2
      .row
        .span1 1
        .span1 1
    .span2
      | 2
      .row
        .span1 1
        .span1 1
    .span2
      | 2
      .row
        .span1 1
        .span1 1
    .span2
      | 2
      .row
        .span1 1
        .span1 1
    .span2
      | 2
      .row
        .span1 1
        .span1 1
    .span2
      | 2
      .row
        .span1 1
        .span1 1
  .row
    .span3
      | 3
      .row
        .span2 2
        .span1 1
    .span3
      | 3
      .row
        .span1 1
        .span1 1
        .span1 1
    .span3
      | 3
      .row
        .span1 1
        .span1 1
        .span1 1
    .span3
      | 3
      .row
        .span1 1
        .span1 1
        .span1 1
  .row
    .span4
      | 4
      .row
        .span3 3
        .span1 1
    .span4
      | 4
      .row
        .span2 2
        .span2 2
    .span4
      | 4
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
  .row
    .span5
      | 5
      .row
        .span4 4
        .span1 1
    .span1 1
    .span5
      | 5
      .row
        .span3 3
        .span2 2
    .span1 1
  .row
    .span5
      | 5
      .row
        .span2 2
        .span2 2
        .span1 1
    .span1 1
    .span5
      | 5
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span1 1
  .row
    .span6
      | 6
      .row
        .span5 5
        .span1 1
    .span6
      | 6
      .row
        .span4 4
        .span2 2
  .row
    .span6
      | 6
      .row
        .span3 3
        .span3 3
    .span6
      | 6
      .row
        .span2 2
        .span2 2
        .span2 2
  .row
    .span7
      | 7
      .row
        .span6 6
        .span1 1
    .span5 5
  .row
    .span7
      | 7
      .row
        .span5 5
        .span2 2
    .span5 5
  .row
    .span7
      | 7
      .row
        .span4 4
        .span3 3
    .span5 5
  .row
    .span7
      | 7
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span5 5
  .row
    .span8
      | 8
      .row
        .span7 7
        .span1 1
    .span4 4
  .row
    .span8
      | 8
      .row
        .span6 6
        .span2 2
    .span4 4
  .row
    .span8
      | 8
      .row
        .span5 5
        .span3 3
    .span4 4
  .row
    .span8
      | 8
      .row
        .span4 4
        .span4 4
    .span4 4
  .row
    .span8
      | 8
      .row
        .span3 3
        .span3 3
        .span2 2
    .span4 4
  .row
    .span8
      | 8
      .row
        .span2 2
        .span2 2
        .span2 2
        .span2 2
    .span4 4
  .row
    .span8
      | 8
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span4 4
  .row
    .span9
      | 9
      .row
        .span8 8
        .span1 1
    .span3 3
  .row
    .span9
      | 9
      .row
        .span7 7
        .span2 2
    .span3 3
  .row
    .span9
      | 9
      .row
        .span6 6
        .span3 3
    .span3 3
  .row
    .span9
      | 9
      .row
        .span5 5
        .span4 4
    .span3 3
  .row
    .span9
      | 9
      .row
        .span3 3
        .span3 3
        .span3 3
    .span3 3
  .row
    .span9
      | 9
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span3 3
  .row
    .span10
      | 10
      .row
        .span9 9
        .span1 1
    .span2 2
  .row
    .span10
      | 10
      .row
        .span8 8
        .span2 2
    .span2 2
  .row
    .span10
      | 10
      .row
        .span7 7
        .span3 3
    .span2 2
  .row
    .span10
      | 10
      .row
        .span6 6
        .span4 4
    .span2 2
  .row
    .span10
      | 10
      .row
        .span5 5
        .span5 5
    .span2 2
  .row
    .span10
      | 10
      .row
        .span5 5
          .row
            .span2 2
            .span3 3
        .span5 5
    .span2 2
  .row
    .span10
      | 10
      .row
        .span2 2
        .span2 2
        .span2 2
        .span2 2
        .span2 2
    .span2 2
  .row
    .span10
      | 10
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span2 2
  .row
    .span11
      | 11
      .row
        .span10 10
        .span1 1
    .span1 1
  .row
    .span11
      | 11
      .row
        .span9 9
        .span2 2
    .span1 1
  .row
    .span11
      | 11
      .row
        .span8 8
        .span3 3
    .span1 1
  .row
    .span11
      | 11
      .row
        .span7 7
        .span4 4
    .span1 1
  .row
    .span11
      | 11
      .row
        .span6 6
        .span5 5
    .span1 1
  .row
    .span11
      | 11
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
    .span1 1
  .row
    .span12
      | 12
      .row
        .span11 11
        .span1 1
  .row
    .span12
      | 12
      .row
        .span10 10
        .span2 2
  .row
    .span12
      | 12
      .row
        .span9 9
        .span3 3
  .row
    .span12
      | 12
      .row
        .span8 8
        .span4 4
  .row
    .span12
      | 12
      .row
        .span7 7
        .span5 5
  .row
    .span12
      | 12
      .row
        .span6 6
        .span6 6
  .row
    .span12
      | 12
      .row
        .span4 4
        .span4 4
        .span4 4
  .row
    .span12
      | 12
      .row
        .span3 3
        .span3 3
        .span3 3
        .span3 3
  .row
    .span12
      | 12
      .row
        .span2 2
        .span2 2
        .span2 2
        .span2 2
        .span2 2
        .span2 2
  .row
    .span12
      | 12
      .row
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1
        .span1 1